#block-loo-geolocate-visitor-location {
  background-color: #e4e9ef;
  padding-top: 6px;
  padding-bottom: 1px;
}

#geolocate-img {
  text-align: center;
}

#loo-location-info {
  padding: 0 5px 5px 5px;
}
